[Desktop Entry]
Type=Application
Name=Install SOS
Name[ru]=Установить СОС
GenericName=System installer
GenericName[ru]=Установщик системы
Comment=Install SOS on this computer
Comment[ru]=Установить СОС на этот компьютер
Exec=/usr/bin/sos-install
Icon=sos
Terminal=false
Categories=System;
Keywords=install;installer;calamares;sos;установка;
StartupNotify=false
